<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Error occured <%= message%>
    <% if (condition) { %>
        <form action="/home/login" method="get">
            <button type="submit">Redirect To Login Page</button>
        </form>
    <% } else { %>
        <form action="/home/signup" method="get">
            <button type="submit">Redirect To SignUp Page</button>
        </form>
    <% } %>
    
</body>
</html>